
@using (Html.BeginForm("Search", "i", FormMethod.Get, new { @class = "search_form" }))
{
    <input type="text" name="q" class="btn btn-outline-info" placeholder="Aranacak Ürün">
    <button class="btn btn-outline-warning" type="submit">ARA</button>
}

